<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SocksTun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SocksTun.Properties.Settings>
      <setting name="IPAddress" serializeAs="String">
        <value>10.10.5.1</value>
      </setting>
      <setting name="DHCPNetmask" serializeAs="String">
        <value>255.255.255.0</value>
      </setting>
      <setting name="DHCPServer" serializeAs="String">
        <value>10.10.5.254</value>
      </setting>
      <setting name="RemoteNetwork" serializeAs="String">
        <value>192.168.123.183</value>
      </setting>
      <setting name="RemoteNetmask" serializeAs="String">
        <value>255.255.255.0</value>
      </setting>
      <setting name="SocksPort" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="LogPort" serializeAs="String">
        <value>58000</value>
      </setting>
      <setting name="DHCPLeaseTime" serializeAs="String">
        <value>31536000</value>
      </setting>
      <setting name="Services" serializeAs="String">
        <value />
      </setting>
      <setting name="TunTapDevice" serializeAs="String">
        <value>SSETUN</value>
      </setting>
      <setting name="PrimaryDNS" serializeAs="String">
        <value />
      </setting>
      <setting name="SecondaryDNS" serializeAs="String">
        <value />
      </setting>
    </SocksTun.Properties.Settings>
  </applicationSettings>
<startup>
  <supportedRuntime version="v4.0"/>
  <supportedRuntime version="v2.0.50727"/>
</startup></configuration>
